:root {
	--background-color: 106, 90, 205;
	--button-color: rgb(42, 24, 155);
	--input-color: rgb(112, 55, 123);
	--button-color-active: rgb(24, 11, 114);
	--header-color: rgb(85, 0, 196);
	--error-color: rgb(255 118 219);
}

.no-anim * {
	transition: none !important;
	animation: none !important;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(var(--background-color));
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2em;
	padding: 1em 2em;
	box-sizing: border-box;
	background-color: var(--header-color);
}

h1,
.input-h1 {
	font-size: 3rem;
	font-weight: bold;
	margin-block: 0.75em;
}

h2,
.input-h2 {
	font-size: 2rem;
	font-weight: bold;
	margin-block: 1em;
}

main {
	margin-inline: 2em;
	width: calc(100% - 4em);
	margin: auto;
	margin-bottom: 2em;
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.buttons-row,
.buttons-col {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.buttons-col {
	flex-direction: column;
}

.button {
	background-color: var(--button-color);
	border: none;
	border-radius: 0.75rem;
	font-size: inherit;
	color: currentColor;
	text-decoration: none;
	font-family: inherit;
	padding: 1rem 2rem;
	cursor: pointer;
	height: 100%;
	transition: transform 0.3s ease, background-color 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.action-button {
	position: fixed;
	right: 1em;
	bottom: 1em;
	aspect-ratio: 1 / 1;
	z-index: 99;
	box-sizing: border-box;
	border-radius: 50%;
	height: unset;
}

.ab-left {
	right: unset;
	left: 1em;
}

.arrow {
	color: currentColor;
	font-size: 1em;
	padding: 1em 0.5em;
	border-radius: 0.5em;
	transition: background-color 0.3s ease;
}

.arrow:hover:not(:disabled) {
	background: rgba(0, 0, 0, 0.25);
}

.arrow:disabled {
	cursor: default;
	filter: brightness(65%);
}

.arrow-ctr {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button:hover {
	background-color: var(--button-color-active);
	transform: scale(105%);
}

.button-sm {
	font-size: 1rem;
	padding: 0.75rem 1rem;
	display: flex;
	gap: 1em;
}

.card-ctr {
	display: flex;
	align-items: stretch;
	gap: 1rem;
	width: 100%;
	justify-content: center;
	padding-block: 1rem;
}

.card-ctr .flip-btn {
	width: fit-content;
	text-align: center;
	margin: auto;
	background: none;
	border: none;
	font-size: 1.5em;
	color: currentColor;
	cursor: pointer;
	padding: 0.75em;
}

.favorite-toggle .favorite-button {
	display: none;
}

.favorite-toggle .favorite-button:checked + * {
	color: yellow;
}

.view-set .favorite-toggle .favorite-button + * {
	cursor: default;
}

.favorite-toggle .favorite-button + * {
	cursor: pointer;
}

.fullCard {
	align-content: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
}

.card {
	text-align: center;
	background-color: white;
	border-radius: 0.75rem;
	aspect-ratio: 4 / 3;
	position: relative;
	color: black;
	display: flex;
	flex: 1;
	max-width: 40rem;
	overflow-y: auto;
	overflow-x: hidden;
	width: 10em;
}

.card.flipBack {
	-webkit-animation: cardFlip 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
	animation: cardFlip 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.card.flipBack p {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.no-anim .card.flipBack p {
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	-ms-transform: none;
	transform: none;
}

.card.flipFront {
	-webkit-animation: cardFlipBack 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
	animation: cardFlipBack 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.card-short {
	width: 20rem;
	aspect-ratio: 4 / 1;
}

.card.selectable {
	cursor: pointer;
	margin: auto;
}

.card.selectable svg {
	color: yellow;
	position: absolute;
	top: 1em;
	right: 1em;
	stroke-width: 4px;
	stroke: black;
}

.cardFront {
	margin-right: 10px;
}

.cardBack {
	margin-left: 10px;
}

.card > p {
	margin: auto;
	padding: 1em;
	width: 100%;
	overflow-wrap: break-word;
	outline: 0;
}

.App > h1 {
	font-size: 3em;
}

.dialog {
	font-size: 1.5em;
	padding: 2em;
	border-radius: 1em;
	background-color: rgb(var(--background-color));
}

.dialog > div {
	display: flex;
	gap: 0.2em;
}

.dialog input {
	font-size: 1em;
	border: none;
	border-radius: 0.75rem;
	padding: 0.3em 0.4em;
}

.drag-handle {
	user-select: none;
	cursor: pointer;
}

.error-msg:empty {
	margin: 0;
}

.error-msg {
	color: var(--error-color);
	margin-top: 1em;
	margin-bottom: 0;
}

.fullpage {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.fullpage.bg {
	background-color: rgba(0, 0, 0, 0.7);
}

.fullpage .close {
	position: absolute;
	right: 0;
	top: 0;
	margin: 2rem;
	font-size: 3em;
	cursor: pointer;
	color: white;
	background: none;
	border: none;
}

[class^='input-h'] {
	font-family: inherit;
	color: inherit;
	background-color: var(--input-color);
	border: 0.5rem solid var(--input-color);
	outline: none;
	border-radius: 0.75rem;
	display: block;
	width: 100%;
}

.loading {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: unset !important;
	max-width: 20em;
}

.no-button {
	background: none;
	border: none;
	cursor: pointer;
}

.num-cards {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0.5em;
	font-size: 0.7em;
}

.reorderable-card {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.save {
	text-align: center;
	margin: auto;
}

.study-group {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 1em;
	gap: 1em;
}

.szh-menu a {
	text-decoration: none;
	color: currentColor;
}

.view-set {
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 1300px) {
	.card-ctr .buttons-row {
		flex-direction: column;
	}
}
@-webkit-keyframes cardFlip {
	0% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
	}
	100% {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
}
@keyframes cardFlip {
	0% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
	}
	100% {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
}

@-webkit-keyframes cardFlipBack {
	0% {
		-webkit-tranform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	100% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
	}
}
@keyframes cardFlipBack {
	0% {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	100% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
	}
}
